<!--begin projectdata include-->
<table class="meta">
{% if page.designer != nil %}
	<tr>
		<th>Designer</th>
		<td>{{ page.designer }}</td>
	</tr>
{% endif %}
{% if page.keywords != nil %}
	<tr>
		<th>Keywords</th>
		<td>{{ page.keywords }}</td>
	</tr>
{% endif %}
{% if page.advisor != nil %}
	<tr>
		<th>Advisor</th>
		<td>{{ page.advisor }}</td>
	</tr>
{% endif %}
{% if page.extlinktitle != nil and page.extlinkurl != nil %}
	<tr>
		<th>More Info</th>
		<td><a href="{{ page.extlinkurl }}">{{ page.extlinktitle }}</a></td>
	</tr>
{% endif %}
</table>
<!--end projectdata include-->
