* {
	box-sizing: border-box;
}

body {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: black;
}

.footer {
	text-align: center;
	color: black;
	background-color: white;
}



/*utilty-------------------------------------------------*/

.red,
.red * {
	color: #e62044 !important;
}

.inverse {
	color: white;
	background: black;
}

.inverse h1,
.inverse h2,
.inverse h3,
.inverse h4 {
	color: white;
}


/*navbar-------------------------------------------------*/

.navbar {
	box-shadow: 0 2px 5px -2px rgba(0,0,0,0.3)
}

a.navbar-item:hover {
	color: white;
	background: #e62044;
}


/*base typography----------------------------------------*/

h1 {
	font-weight: bold;
	font-size: 2.625;
	line-height: 1.125em;
}

h2 {
	margin-bottom: 3rem;
	font-size: 1.875;
	line-height: 1.1em;
}

h3 {
	margin-bottom: 1.5rem;
	font-size: 1.25em;
	line-height: 1.2em;
}

h4 {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.5em;
}

h1.title {
	font-weight: bold;
	font-size: 2.625;
	line-height: 1.125em;
}

h2.subtitle {
	margin-bottom: 3rem;
	font-weight: normal;
	font-size: 1.875;
	line-height: 1.1em;
}

p {
	margin-bottom: 1.5rem;
	font-size: 1em;
	line-height: 1.5em;
}

.caption {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	font-size: 0.75em;
	line-height: 1.333em;
}

a {
	color: black;
}

.content a {
	text-decoration: underline;
}

a:hover {
	color: #e62044;
}

img {
	width: 100%;
	height: auto;
}

figcaption {
	margin-top: 0.5rem;
	font-style: italic;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*flow layout--------------------------------------------*/

.flow {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
}

.flow > [class*="flow"] {
	position: relative;
	margin-bottom: 1em;
	padding: 0;
	width: 100%;
}

.flow > [class*="flow"] *:first-child {
	margin-top: 0;
}

@media screen and (min-width: 769px) {
	.flow > [class*="flow"] {
		padding: 0.5em 1.5em;
	}
	.flow > .flow-half {width: 50%;}
	.flow > .flow-push {margin-left: 50%;width: 50%;}
	.flow >	.flow-full {width: 100%;}
}


/*project promos-----------------------------------------*/


.flow.project-list {
	padding: 0;
}

a.flow-project {
	display: block;
	width: 33.33%;
	margin: 0 0 0 2rem 0;
	padding: 0.5em;
	color: black;
	background-color: white;
}

a.flow-project:hover {
	color: white;
	background-color: black;
}

.project-header {
	padding: 0 0 0.5em 0;
}

.project-body {
	color: inherit;
	background-color: inherit;
}

.project-body .project-title {
	padding: 0.5em 0 0 0;
	color: inherit;
	background-color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.project-body .project-title {
	display: none;
}

.project-body .project-title h2 {
	margin: 0 0 0.5rem 0;
	font-size: 1.25rem;
	font-weight: bold;
}

.project-body .project-title h3 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
}


.flow-project:hover .project-body .project-title {
	display: block;
}

.project-body {
	position: relative;
}

.project-body img {
	display: block;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 1016px) {
	.project-list {
		width: 62rem;
	}
	.flow > .flow-project {
		width: 33.33%;
	}
}


/*image 360 for Yinan -----------------------------------*/

.img360 {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

#preload-imgs {
    display:none;
}

/*debug -------------------------------------------------*/

/*
.flow [class*="flow"] {
	background: pink;
	border: 1px solid red;
}
*/
