<!--home layout-->
{% include header.html %}
<!--hero image-->
<section>
	<img src="{{ site.baseurl }}/assets/images/hero.svg" alt="UNFOLDING: 2020 MFA Thesis Show">
</section>
<!--intro text-->
<section class="hero inverse">
	<div class="hero-body">
		<div class="container" style="max-width: 36em;">
		{{ content }}
		</div>
	</div>
</section>
<!--project list-->
<section class="hero" style="margin: 4em 0;">
	<div class="hero-body">
		<div class="flow project-list">
		{% for project in site.projects %}
			<a class="flow-project" href="{{ site.baseurl }}{{ project.url }}">
				<div class="project-header">
					{{ project.program }}<br>
					{{ project.designer }}
				</div>
				<div class="project-body">
					<div class="project-title">
						<h2>{{ project.title }}<h2>
						<h3>{{ project.subtitle }}</h3>
					</div>
					<img src="{{ site.baseurl }}/assets/images/{{ project.heroimage }}" alt="">
				</div>
			</a>
		{% endfor %}
	</div>		
</section>
{% include footer.html %}
